
.navbarContainer {
    height: 7.5vh;
    width: 100vw;
    border-bottom: 1px solid black;
    display: flex;
    background-color: #1d2033;
    align-items: center;
}

.navbarContainer > * {
    margin-left: 10px;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100%;
    position: relative;
    left: 100px;
    user-select: none;
    
}

.logoContainer > * {
    margin: 0 10px;
}

.logoContainer > img {
    width: 60px;
    position: relative;
}

.logoContainer > h1 {
    margin-left: 15px;
    color: white;
}


.footerContainer {
    width: 100vw;
    height: 7.75vh;
    background-color: #1d2033;
}

.homeButtonContainer {
    width: 150px;
    height:80%;
    position:relative; 
    left: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .1s ease-in-out;
    color: white;
    user-select: none;
}

.homeButtonContainer:hover {
    background-color: white;
    color: black;
}
